{% extends 'polls/model.html'%}

{% block title%}
<title>Home</title>
{% endblock %}


{% block content %}
<div class="col-md-12">
    <button type="button" class="btn btn-primary">Novo</button>
</div>
<div class="col-md-12">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Polls
                </th>
                <th style="width: 150px;">

                </th>
            </tr>
        </thead>            
        <tbody class="table-group-divider">
            {% for question in latest_question_list %}
            <tr>
                <td>{{ question.question_text }}</td>
                <td>                   
                    <a class="fa-solid fa-check-to-slot" href="{% url 'polls:detail' question.id %}"></a>
                    <a class="fa-solid fa-square-poll-horizontal" href="{% url 'polls:results' question.id %}"></a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% if not latest_question_list %}
    <p>No polls are available...</p>
    {% endif %}
</div>
{% endblock %}
