{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%}
    <title>Document</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% block menu %}
    <nav class="navbar navbar-dark navbar-expand-lg shadow p-3 mb-5" style="background-color: #0c4b33;">
        <div class="container">
            <a class="navbar-brand" href="/">DJango.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/polls">Polls</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>    
    {% endblock %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <div class="fixed-bottom" style="background-color: #44b78b; height: 80px; padding-top: 20px;">
        <div class="container">
            <div>
                <span>
                    <i class="fa-brands fa-github"></i>
                    <a href="https://github.com/edgartf3/djangoTutorial">Django Tutorial</a>
                </span>
            </div>         
                        
        </div>
    </div>
    <script type="text/javascript" src="{% static 'polls/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>